.bg {
  background: var(--color-primary-dark);
  position: relative;
  height: 4rem;

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1rem;
  }
}
