:root {
  --color-primary: #03396c;
  --color-primary-trans: #03396cde;

  --color-primary-light: #097bc7;
  --color-primary-light-trans: #097bc7de;

  --color-primary-dark: #011f4b;
  --color-primary-dark-trans: #011f4bde;


  --text-primary: #d3d3d3;
  --text-primary-trans: #d3d3d3e5;

  --text-secondary: #424242;

}
