figure {
  margin: 0;
}

hr {
  width: 20%;
  border: none;
    height: 2px;
    box-shadow: 2px 2px black;
    background-color: var(--text-primary); /* Modern Browsers */
}
figcaption {
  position: absolute;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  line-height: 5rem;
  font-weight: 700;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: lightgray;
  font-size: 3rem;
  text-shadow: 2px 2px black;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

button {
  position: absolute;
  left: 50%;
  bottom: -2.2rem;
  transform: translateX(-50%);
  background: linear-gradient( to top right, var(--color-primary-light), var(--color-primary)) ;
  padding: 1rem;
  border: 8px solid var(--text-primary);
  border-radius: 1rem;
  font-size: 2rem;
  color: var(--text-primary);
  transition: transform .1s, padding .3s;
  &:focus {
    outline: none;

  }

  &:active {
    transform: translateX(-50%) scale(.99);
    padding: .95rem;
  }

  &:before {
    position: absolute;

  }
}

// Absolute Background
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  height: 70vh;
  width: 100%;

  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

// Fog
.fog {
  position: relative;

  height: 70vh;
  width: 100%;

  background-color: #000;

  &__container {
    position: absolute;

    height: 100%;
    width: 100%;

    overflow: hidden;
  }

  &__img {
    position: absolute;

    height: 70vh;
    width: 300vw;

    &--first {
      background: url('../../assets/images/fog-1.png') repeat-x;
      background-size: contain;
      background-position: center;
      will-change: transform;
      animation: marquee 60s linear infinite;
    }

    &--second {
      background: url('../../assets/images/fog-2.png') repeat-x;
      background-size: contain;
      background-position: center;
      will-change: transform;
      animation: marquee 40s linear infinite;
    }
  }
}

// Marquee
@keyframes marquee {
  0% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(-200vw, 0, 0); }
  100% { transform: translate3d(0, 0, 0); }
}


@media only screen and ( max-width: 700px) {

  button {
    font-size: 1.2rem;
    border: 5px solid var(--text-primary);
    a {
      color: var(--text-primary);
      text-decoration: none;
    }
  }

  figcaption {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  @keyframes marquee {
    0% { transform: translate3d(0, 0, 0); }
    50% { transform: translate3d(-250vw, 0, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }

  .fog {



    &__img {
      width: 500vw;

    }

    &--first {
      animation: marquee 6s linear infinite;
    }

    &--second {
      animation: marquee 4s linear infinite;
    }
  }
}


