<section class="bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="no-selection">Services</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12">
        <mat-card class="my-cards">
          <mat-card-header>
            <mat-card-title>Commercial Hoods</mat-card-title>
            <mat-card-subtitle>Hoods | Fans | Accessible Duct</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/services_hood.jpg" alt="">

          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maxime eaque veritatis, fuga alias deserunt eligendi fugit placeat provident libero blanditiis non, voluptas amet ea nisi perspiciatis? Aperiam, nisi minima?
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LEARN MORE</button>
          </mat-card-actions>
        </mat-card>

      </div>
      <div class="col-lg-4 col-12">
        <mat-card class="my-cards">
          <mat-card-header>
            <mat-card-title>Tile & Grout</mat-card-title>
            <mat-card-subtitle>Residential | Commercial</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/services_tile.jpg" alt="">

          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maxime eaque veritatis, fuga alias deserunt eligendi fugit placeat provident libero blanditiis non, voluptas amet ea nisi perspiciatis? Aperiam, nisi minima?
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LEARN MORE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-lg-4 col-12">
        <mat-card class="my-cards">
          <mat-card-header>
            <mat-card-title>Carpet Cleaning</mat-card-title>
            <mat-card-subtitle>Commercial | Residential</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/images/services_carpet2.jpg" alt="">

          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex maxime eaque veritatis, fuga alias deserunt eligendi fugit placeat provident libero blanditiis non, voluptas amet ea nisi perspiciatis? Aperiam, nisi minima?
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LEARN MORE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
