<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Testimonials</h2>
        <hr>
      </div>
    </div>
    <div class="row testi" >
      <div class="col-12 col-lg-6 ">

        <p><span class="name">Ruth Heskett</span>"They did an amazing job and their customer service was beyond excellent. I will definitely use them again, and you should too."<span class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>

      </div>
      <div class="col-12 col-lg-6 ">

        <p><span class="name">Andrea Kimbell</span>"Professional, friendly and great work! I’ll for sure use Pro-Steam again when the need arises."<span class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
      </div>
      <div class="col-12 col-lg-6 ">

        <p><span class="name">Carrie Duffy</span>"I am SO HAPPY with their service. I will be a customer for LIFE."<span class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>

      </div>
      <div class="col-12 col-lg-6 ">
        <p><span class="name">Jeff Steen</span>"Pro-Steam did an amazing job on the carpet in our living and bedrooms! Definitely a five star job."<span class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
      </div>
    </div>
  </div>
</div>
