.bg {
  margin-top: -8rem;
  padding: 15rem 0;
  background: radial-gradient( var(--color-primary-light), var(--color-primary-dark));
  -webkit-user-select: none;
  clip-path: polygon(64% 3%, 100% 0, 100% 97%, 57% 100%, 0 99%, 0 3%, 24% 0);




}

h2 {
  font-size: 2.5rem;

}
hr {
  margin-bottom: 5rem;
  background: var(--text-primary);
}

p {
  display:flex;
  flex-direction: column;
  height: 80%;
  position: relative;
  font-size: 1.4rem;
  border: 2px dashed var(--text-primary);
  padding: 2rem;
  margin-bottom: 5rem;
}
span {

  background: var(--text-primary);
  color: var(--color-primary-light);
  border-radius: 3px;
  position: absolute;
  font-size: 1rem;
  padding: 5px;

  &.name {
  top: -1.2rem;
  left: 1rem;

  }

  &.stars {
  right: 1rem;
  bottom: -1rem;
  }

}

.testi {
  height: 100%;
}




